{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
  <title>Work details</title>
{% endblock %}

{% block link %}
{% endblock %}

{% comment %} 
author
genre
is_available
price
created {% endcomment %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.description }}</p>
    <p>{{ object.author }}</p>
    <p>{{ object.genre }}</p>
    <p>{{ object.is_available }}</p>
    <p>💲 {{ object.price }}</p>
    <p>{{ object.created }}</p>


{% endblock %}

{% block script %}
{% endblock %}