{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <title>Wedding</title>
{% endblock %}

{% block style %}
  <style>
    .wedding_h1 {
      text-align: center;
      margin: 10px 20px;
      color: rgb(14, 183, 104);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .container {
      background-color: white;
      width: 100;
      height: 450px;
      box-shadow: 2px 2px 4px lightgrey, -2px -2px 4px lightgray;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 100px -30px;
    }
    .first img {
      margin: 7px -5px;
    }
    .first .marg {
      margin: -60px -30px;

    }
    .second {
      margin: 70px 60px;
      box-shadow: 2px 2px 4px lightgrey, -2px -2px 4px lightgray;
      width: 580px;
      background-color: white;
    }
    .second .marg {
      margin: 20px 40px;
    }
    .order {
      border: 2px solid rgb(14, 183, 104);
      background-color: white;
      color: black;
      border-radius: 30px;
      margin: 10px 140px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 18px;
      padding: 4px;
      width: 230px;
    }
    .order:hover {
      background-color: rgb(14, 183, 104);
      color: white;
    }
    .end {
      background-color: rgb(34, 56, 56);
    }
  
    .end .ch-end {
      display: grid;
      grid-template-columns: repeat(5, 320px);
    }
  
    .end div {
      margin: 40px 50px;
    }
  
    .end b,
    h4,
    p {
      cursor: pointer;
  
    }
  
    .end h4 {
      color: snow;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
    .end b {
      text-decoration: none;
      color: lightslategray;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 12px;
      margin: 50px 5px;
    }
  
    hr {
      box-shadow: 1px 1px 1px gray, -1px -1px 1px rgb(46, 45, 45);
      width: 1200px;
    }
  
    .grids {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      font-size: 15px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin: -50px 20px;
    }
  
    .grids .first {
      color: lightslategray;
    }
  
    .grids .second {
      display: grid;
      grid-template-columns: repeat(4, 90px);
      color: snow;
    }
    .end {
      background-color: rgb(34, 56, 56);
      margin: 10px -120px;
      width: 1410px;
    }
  
    .end .ch-end {
      display: grid;
      grid-template-columns: repeat(5, 320px);
    }
  
     .end div {
      margin: 40px 50px;
    } 
  
    .end b,
    h4,
    p {
      cursor: pointer;
  
    }
  
    .end h4 {
      color: snow;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
    .end b {
      text-decoration: none;
      color: lightslategray;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 12px;
      margin: 50px 5px;
    }
  
    hr {
      box-shadow: 1px 1px 1px gray, -1px -1px 1px rgb(46, 45, 45);
      width: 1200px;
    }
  
  </style>
{% endblock %}

{% block content %}
  <br />
  <h1 class="wedding_h1">Hotel</h1>
  <div class="container">
    <div class="first">
      <div class="marg">
        <div  id="carouselExampleDark1" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="/media/Hotel/hotel1.png" width="590px" height="435px" alt="" />
            </div>
            <div class="carousel-item" data-bs-interval="2000" >
              <img src="/media/Hotel/hotel2.png" width="590px" height="435px" alt="" />
            </div>
            <div class="carousel-item">
              <img src="/media/Hotel/hotel3.png" width="590px" height="435px" alt="" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>
    <div class="second">
      <div class="marg">
        <h3>Gold Hotel</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio reprehenderit dolores quibusdam, laboriosam asperiores vel sint odit! Porro, voluptas nisi. Incidunt laboriosam cum voluptatibus facere delectus fuga doloremque similique, nostrum perferendis nesciunt sunt vero assumenda omnis voluptates eaque dicta iste animi ipsa eveniet mollitia enim, praesentium distinctio? Suscipit consectetur voluptatem qui accusamus nihil molestias in soluta, fugiat cupiditate fugit repudiandae magni ut? Asperiores quam eum reprehenderit eveniet quibusdam obcaecati praesentium?</p>
        <b>$100</b>
        <h5>Lux rooms</h5>
        <h6>⭐⭐⭐⭐⭐</h6>
        <button class="order">Order</button>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="first">
      <div class="marg">

        <div  id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="/media/Hotel/hotel4.png" width="590px" height="435px" alt="" />
            </div>
            <div class="carousel-item" data-bs-interval="2000" >
              <img src="/media/Hotel/hotel5.png" width="590px" height="435px" alt="" />
            </div>
            <div class="carousel-item">
              <img src="/media/Hotel/hotel6.png" width="590px" height="435px" alt="" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="second">
      <div class="marg">
        <h3>Demure Hotel</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio reprehenderit dolores quibusdam, laboriosam asperiores vel sint odit! Porro, voluptas nisi. Incidunt laboriosam cum voluptatibus facere delectus fuga doloremque similique, nostrum perferendis nesciunt sunt vero assumenda omnis voluptates eaque dicta iste animi ipsa eveniet mollitia enim, praesentium distinctio? Suscipit consectetur voluptatem qui accusamus nihil molestias in soluta, fugiat cupiditate fugit repudiandae magni ut? Asperiores quam eum reprehenderit eveniet quibusdam obcaecati praesentium?</p>
        <b>$300</b>
        <h5>Lux room style Old Money</h5>
        <h6>⭐⭐⭐⭐⭐</h6>
        <button class="order">Order</button>
      </div>
    </div>
  </div>


  <br><br><br>
  <br><br><br>

  <div class="end">
    <div class="ch-end">
      <div class="company">
        <h4>Company</h4>
        <b>About Us</b><br>
        <b>Contact Us</b><br>
        <b>Our Services</b><br>
        <b>Primary Policy</b><br>
        <b>Terms & Condition</b>
      </div>
      <div class="quick-links">
        <h4>Quick Links</h4>
        <b>About Us</b><br>
        <b>Contact Us</b><br>
        <b>Our Services</b><br>
        <b>Primary Policy</b><br>
        <b>Terms & Condition</b>
      </div>
      <div class="contact">
        <h4>Contact</h4>
        <b>💡 Samarqand Shaxar</b><br>
        <b>📞 +998 (90) 477 28 09</b><br>
        <b>📧 empupwork16@gmail.com</b>
      </div>
      <div class="newsletter">
        <h4>Newsletter</h4>
        <b>Dolor amet sit justo amet elitr clita ipsum elitr est.</b>
      </div>
    </div>
    <hr>
    <div class="grids">
      <div class="first">
        <p>© EmpUpWork, All Right Reserved. Designed By Django & framework</p>
      </div>
      <div class="second">
        <p>Home</p>
        <p>Cookie</p>
        <p>Help</p>
        <p>FQAs</p>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}

{% endblock %}