{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <title>Types</title>
{% endblock %}

{% block style %}
  <style>
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    .first:hover {
      padding: 3px;
    }
    .ch_first {
      box-shadow: 2px 2px 4px lightslategray, -2px -2px 4px lightgrey;
      background-color: white;
      border-radius: 15px;
      height: 250px;
      width: 250px;
    }
    .ch_first h1 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      font-size: 24px;
    }
    .ch_first a {
      text-decoration: none;
      color: black;
    }
    .ch_first p {
      color: gray;
      text-align: center;
    }
    .ch_first img {
      text-align: center;
      margin: 1px 60px;
    }
  </style>
{% endblock %}

{% block content %}
  <br />
  <div class="container">
    <div class="first">
      <div class="ch_first">
        <br />
        <img src="/media/types/hotel.png" width="120px" height="120px" alt="" />
        <h1><a href="{% url 'Hotel' %}">Hotel</a></h1>
        <p>click to this opening hotel page</p>
      </div>
    </div>
    <div class="first">
      <div class="ch_first">
        <br />
        <img src="/media/types/wedding_hall.png" width="120px" height="120px" alt="" />
        <h1><a href="{% url 'wedding' %}">Wedding hall</a></h1>
        <p>click to this opening hotel page</p>
      </div>
    </div>
    <div class="first">
      <div class="ch_first">
        <br />
        <img src="/media/types/Restaurants.png" width="200px" height="130px" alt="" style="margin: 1px 30px;" />
        <h1><a href="{% url 'Restaurants' %}">Restaurants</a></h1>
        <p>click to this opening hotel page</p>
      </div>
    </div>
    <div class="first">
      <div class="ch_first">
        <br />
        <img src="/media/types/Lelase.png" width="120px" height="120px" alt="" style="margin: 4px 60px;" />
        <h1><a href="{% url 'Lelase' %}">Lelase</a></h1>
        <p>click to this opening hotel page</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}

{% endblock %}
