{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <title>{{ user.username }} profile</title>
{% endblock %}

{% block style %}
<style>
  * {
    transition: 0.7s;
  }
  .main {
    background: linear-gradient(to right, snow, white);
    padding: 50px;
    color: green;
    box-shadow: 2px 2px 2px gray, -2px -2px 4px helgreen;
    margin: 0 auto;
    width: 1200px;
  }

  .main input,
  .main select {
    border: 1px solid green;
  }

  .back {
    float: right;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 50%;
    padding: 12px;
    font-size: 20px;

  }
  .back a {
    color: red;
    font-size: 20px;
    text-decoration: none;
  }
  .back:hover {
    background-color: red;
    color: snow;
  }
  .back:hover a {
    color: white;
  }
  .user_profile input {
    padding: 7px;
    border-radius: 5px;
    width: 1100px;
  }
  .user_profile textarea {
    border: 1px solid green;
    margin: 20px 0px;
    height: 230px;
  }
  .user_profile .social a {
    text-decoration: none;
  }
  .user_profile .social button {
    margin: 10px 15px;
  }
  .user_profile .social .github {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: white;
    width: 120px;
  }
  .user_profile .social .github a {
    text-decoration: none;
    color: black;
  }
  .user_profile .social .github:hover {
    background-color: black;
  }
  .user_profile .social .github:hover a {
    color: snow;
  }

  .user_profile .social .twitter {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: rgb(252, 255, 245);
    width: 120px;
  }
  .user_profile .social .twitter a {
    text-decoration: none;
    color: black;
  }

  .user_profile .social .twitter:hover {
    background-color: black;
  }
  .user_profile .social .twitter:hover a {
    color: snow;
  }

  .user_profile .social .telegram {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid blue;
    background-color: white;
    width: 120px;
  }
  .user_profile .social .telegram a {
    text-decoration: none;
    color: blue;
  }
  .user_profile .social .telegram:hover {
    background-color: blue;
  }
  .user_profile .social .telegram:hover a {
    color: white;
  }

  #update {
    padding: 7px;
    width: 120px;
  } 
  .main .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .main .container .first .prf_img img {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 13px;
    margin: -120px 14px;
    width: 220px;
    background-color: white;
  }
  .main .container .first {
    box-shadow: 2px 2px 4px lightgray, -2px -2px 4px lightgray;
    height: 550px;
    width: 250px;
    margin: 0px -35px;
  } 

  .main .container .second {
    padding: 50px;
    color: green;
    box-shadow: 2px 2px 4px lightgray, -2px -2px 4px lightgray;
    box-shadow: 2px 2px 2px gray, -2px -2px 4px helgreen;
    width: 850px;
    margin: 5px -310px;
    {% comment %} border: 1px solid green; {% endcomment %}
    {% comment %} background: linear-gradient(to right, snow, white); {% endcomment %}
  }
  .name {
    margin: 120px 50px;
  }
</style>
{% endblock %}

{% block content %}
<br><br><br><br>
<div class="main">
  <div class="container">
    <div class="first">
      <div class="prf_img">
        <img src="{{ user.profile.image.url }}" alt=""><br>
      </div>
      <div class="name">
        <h1>{{ user.username }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis itaque ducimus laborum dolorum facere nihil consequuntur repellat iure, voluptatem libero? Non sed maiores fugit ad possimus porro eos numquam eius.</p>
      </div>
    </div>
    <div class="second">
      <h1>{{ user.username }} profile  
        <span class="back"><a href="{% url 'books_view' %}">→</a></span>
      </h1>
        <div class="mb-5" style="font-size: 17px;">
          <div class="select-wrapper">
            <label for="type" class="select-label">Вы:</label>
            <select id="type" name="type">
              <option value="freelancer">Freelancer</option>
              <option value="client">Client</option>
            </select>
          </div>
        </div>
        
      <form method="POST"
            enctype="multipart/form-data">
        {% csrf_token %}
        {% if u_form.errors %}
          {% bootstrap_form_errors u_form %}
        {% endif %}
    
        {% if p_form.errors %}
          {% bootstrap_form_errors p_form %}
        {% endif %}
    
        {% bootstrap_form u_form %}
        {% bootstrap_form p_form %}
    
        <div class="user_profile">
          {% comment %} <input class="form-control" type="date"> {% endcomment %}
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 170px"></textarea>
            <label for="floatingTextarea2">About me</label>
          </div>
    
          <div class="social">
            <button class="github"><a href="https://github.com/Maxmaraimo/">GitHub</a></button>
            <button class="twitter"><a href="https://twitter.com/MrDollor77">Twitter</a></button>
            <button class="telegram"><a href="https://t.me/Ozodbek_Shuxratov">Telegram</a></button>
          </div>
          
        </div>
    <br>
  </form>
</div>
</div>
<button class="btn btn-outline-success" type="submit" id="update">Update</button>
  </div>
{% endblock %}

{% block script %}

{% endblock %}