{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    {% block title %}
      <title>empUpWork company</title>
    {% endblock %}

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />

    {% block link %}

    {% endblock %}

    {% block style %}

    <style>
      .dropdown-menu {
        width: 120px;
        height: 20px;
      }
      .button {
        color: white;
      }
    </style>
    {% endblock %}
  </head>
  {% comment %}1. Menu Nav - Logo - Name - Logged In/Out buttons - Social accounts 2. Background - - Image - Slogan - Links 3. Get Navbar into this header of bg-image 4. Use font-family Fino{% endcomment %}
  <body>
    <nav>
      <div class="left">
        {% comment %} <br /> {% endcomment %}
        <a href=""><b>empUpWork</b></a>
      </div>
      <div class="right">
        <a href="{% url 'home_page' %}" style="color: rgb(14, 183, 104);">HOME</a>
        <a href="">ABOUT</a>
        <a href="{% url 'books_view' %}">JOBS</a>
        {% comment %} <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Jobs</a>
          <div class="dropdown-menu">
              <a href="" class="dropdown-item">Job List</a>
              <a href="" class="dropdown-">Job Detail</a>
          </div>
      </div> {% endcomment %}
          {% comment %} <div class="dropdown">
            <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Search job</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: snow;color: black;">
              <li>
                <a class="dropdown-item" href="">Online</a>
              </li>
              <li>
                <a class="dropdown-item" href="">offline</a>
              </li>
              <li>
                <a class="dropdown-item" href="">etc.</a>
              </li>
            </ul>
          </div> {% endcomment %}
        <a href="{% url 'wedding' %}">PAGES</a>
        <a href="{% url 'logout' %}">CONTACT</a>
        <a href=""></a>
        <button class="button" style="color: white;">
          <a href="{% url 'add_book' %}">Post A Job →</a>
        </button>
      </div>
    </nav>
    {% if user.is_authenticated %}
      <main id="logged-in-menu">
        <div>
          {% include 'navbar.html' %}
          {% comment %} <a id="wishlist" href="{% url 'wishlist_view' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">🧺</a> {% endcomment %}
        </div>
        <div>
          <div id="messages">
            {% bootstrap_messages %}
          </div>

          {% block content %}

          {% endblock %}

          {% block script %}

          {% endblock %}
        </div>
      </main>
    {% else %}
      <div class="logged-out-navbar">
        <a style="
          float: left;
          color: green;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
         " href="{% url 'home_page' %}">empUpWork</a>

        <a href="{% url 'registration' %}">Sign up</a>
        <a href="{% url 'login' %}">Sing in</a>
      </div>
      <main id="logged-out-menu">
        {% bootstrap_messages %}
        {% block auth_content %}
          <h1>Authenticate</h1>

          <hr />
        {% endblock %}
      </main>
    {% endif %}

    {% bootstrap_javascript %}
    <script>
      setTimeout(() => {
        const messages = document.querySelectorAll('#messages')
        messages.forEach((msg) => {
          msg.remove()
        })
      }, 5000)
      
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
  </body>
</html>

{% comment %} 
<details>
  <summary>
    <a href="{% url 'books_view' %}">JOBS</a>
  </summary>
  <p>Online</p>
  <p>offline</p>
</details> 
{% endcomment %}