{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    {% block title %}
      <title>empUpWork company</title>
    {% endblock %}

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}" />

    {% block link %}

    {% endblock %}

    {% block style %}

    <style>
      .dropdown-menu {
        width: 120px;
        height: 20px;
      }
      .button {
        color: white;
      }
      
.end {
  background-color: rgb(34, 56, 56);
  margin: 10px -50px;
  width: 1410px;
}

.end .ch-end {
  display: grid;
  grid-template-columns: repeat(5, 320px);
}

 .end div {
  margin: 40px 50px;
} 

.end b,
h4,
p {
  cursor: pointer;

}

.end h4 {
  color: snow;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.end b {
  text-decoration: none;
  color: lightslategray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin: 50px 5px;
}

.end hr {
  box-shadow: 1px 1px 1px gray, -1px -1px 1px rgb(46, 45, 45);
  width: 1200px;
}

      
    </style>
    {% endblock %}
  </head>
  {% comment %}1. Menu Nav - Logo - Name - Logged In/Out buttons - Social accounts 2. Background - - Image - Slogan - Links 3. Get Navbar into this header of bg-image 4. Use font-family Fino{% endcomment %}
  <body>
    <nav>
      <div class="left">
        {% comment %} <br /> {% endcomment %}
        <a href=""><b>empUpWork</b></a>
      </div>
      <div class="right">
        <a href="{% url 'home_page' %}" style="color: rgb(14, 183, 104);">HOME</a>
        <a href="">ABOUT</a>
        <a href="{% url 'books_view' %}">JOBS</a>
        {% comment %} <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Jobs</a>
          <div class="dropdown-menu">
              <a href="" class="dropdown-item">Job List</a>
              <a href="" class="dropdown-">Job Detail</a>
          </div>
      </div> {% endcomment %}
          {% comment %} <div class="dropdown">
            <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Search job</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: snow;color: black;">
              <li>
                <a class="dropdown-item" href="">Online</a>
              </li>
              <li>
                <a class="dropdown-item" href="">offline</a>
              </li>
              <li>
                <a class="dropdown-item" href="">etc.</a>
              </li>
            </ul>
          </div> {% endcomment %}
        <a href="{% url 'Types' %}">PAGES</a>
        <a href="">CONTACT</a>
        <a href=""></a>
        <button class="button" style="color: white;">
          <a href="{% url 'add_book' %}">Post A Job →</a>
        </button>
      </div>
    </nav>
    {% if user.is_authenticated %}
      <main id="logged-in-menu">
        <div>
          {% include 'navbar.html' %}
        </div>
        <div>
          <div id="messages">
            {% bootstrap_messages %}
          </div>

          {% block content %}

          {% endblock %}

          {% block script %}
          {% endblock %}
        </div>
      </main>
    {% else %}
      <div class="logged-out-navbar">
        <a style="
          float: left;
          color: green;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
         " href="{% url 'home_page' %}">empUpWork</a>

        <a href="{% url 'registration' %}">Sign up</a>
        <a href="{% url 'login' %}">Sing in</a>
      </div>
      <main id="logged-out-menu">
        {% bootstrap_messages %}
        {% block auth_content %}
          <h1>Authenticate</h1>

          <hr />
        {% endblock %}
      </main>
    {% endif %}

    {% bootstrap_javascript %}
    <script>
      setTimeout(() => {
        const messages = document.querySelectorAll('#messages')
        messages.forEach((msg) => {
          msg.remove()
        })
      }, 5000)
      
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>

    <div class="end">
      <div class="ch-end">
        <div class="company">
          <h4>Company</h4>
          <b>About Us</b><br>
          <b>Contact Us</b><br>
          <b>Our Services</b><br>
          <b>Primary Policy</b><br>
          <b>Terms & Condition</b>
        </div>
        <div class="quick-links">
          <h4>Quick Links</h4>
          <b>About Us</b><br>
          <b>Contact Us</b><br>
          <b>Our Services</b><br>
          <b>Primary Policy</b><br>
          <b>Terms & Condition</b>
        </div>
        <div class="contact">
          <h4>Contact</h4>
          <b>💡 Samarqand Shaxar</b><br>
          <b>📞 +998 (90) 477 28 09</b><br>
          <b>📧 empupwork16@gmail.com</b>
        </div>
        <div class="newsletter">
          <h4>Newsletter</h4>
          <b>Dolor amet sit justo amet elitr clita ipsum elitr est.</b>
        </div>
      </div>
      <hr>
      <div class="grids">
        <div class="first">
          <p>© EmpUpWork, All Right Reserved. Designed By Django & framework</p>
        </div>
        <div class="second">
          <p>Home</p>
          <p>Cookie</p>
          <p>Help</p>
          <p>FQAs</p>
        </div>
      </div>
    </div>
  </body>
</html>

{% comment %} 
<details>
  <summary>
    <a href="{% url 'books_view' %}">JOBS</a>
  </summary>
  <p>Online</p>
  <p>offline</p>
</details> 
{% endcomment %}
