{% comment %} {% load static %}
{% load django_bootstrap5 %}

{% block style %}

{% endblock %}

{% block navbar %}
<div id="nav-bar">
    <input id="nav-toggle" type="checkbox"/>
      <div id="nav-header"><a id="nav-title" href="{% url 'home_page' %}" >
        empUpWork
    </a>
      <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
      <hr/>
    </div>
    <div id="nav-content">
      <div class="nav-button"><i class="fas fa-images"></i><span><a href="{% url 'books_view' %}">Works</a></span></div>
      <div class="nav-button"><i class="fas fa-thumbtack"></i><span><a href="{% url 'add_book' %}">Add a job</a></span></div>
      <hr/>
      <div class="nav-button"><i class="fas fa-magic"></i><span><a href="{% url 'logout' %}">logout</a></span></div>
      <hr/>
      <div class="nav-button"><i class="fas fa-gem"></i>
        <span><a href="{% url 'wishlist_view' %}">Wishlist</a></span>
    </div>
    
    <div class="nav-button"><i class="fas fa-gem"></i>
      <span><div class="dropdown">
        <a href="#" role="button" 
        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Search job
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: #111;color: snow;">
          <li><a class="dropdown-item" href="">Online</a></li>
          <li><a class="dropdown-item" href="">offline</a></li>
          <li><a class="dropdown-item" href="">etc.</a></li>
        </ul>
      </div>
    </span>
  </div>

    <div id="nav-content-highlight"></div>
    </div>
    <input id="nav-footer-toggle" type="checkbox"/>
    <div id="nav-footer">
      <div id="nav-footer-heading">
        <div id="nav-footer-titlebox">
            <a id="nav-footer-title" href="{% url 'profile' %}">{{ user.username }}</a>
            <span id="nav-footer-subtitle">
        </span>
    </div>
        <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
      </div>
      <div id="nav-footer-content">
        {% if profile.user == user %}
            {% if profile.interests %}
                <p>User has interests: {{ profile.interests }}</p>
            {% else %}
                <p>User has no specified interests.</p>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div> {% endcomment %}




{% comment %} {% load static %}
{% load django_bootstrap5 %}

{% block style %}
  <style>
    nav {
      height: 60px;
      width: 225vh;
  }
  </style>
{% endblock %}

{% block navbar %}
<nav></nav>
{% endblock %} {% endcomment %}

