{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  <title>Wishlist. {{ books|length }} items</title>
{% endblock %}

{% block style %}
  <style>
    {% comment %} #wishlist-page {
      background-color: red;
      border: 1px solid green;
    } {% endcomment %}
    .card {
      overflow: hidden;
    }
    .card h3 {
        float: left;
        font-family: fantasy;
    }
    #delete-book-from-wl {
      float: right;
      padding: 10px;
      background-color: rgb(255,0,0,0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    #delete-book-from-wl:hover { background-color: red;}
    a {
        color: snow;
        text-decoration: none;
        font-size: 1.2em;
    }
    a:hover { color: snow; }

    #card_stl {
      border: 1px solid green;
      width: 470px;
    }
  </style>
{% endblock %}

{% comment %} 
author
genre
is_available
price
created 
{% endcomment %}

{% block content %}
  <div id="wishlist-page">
    {% if books|length > 0 %}
      {% for book in books %}
        <div class="card bg-light text-dark mb-3" id="card_stl">
          <div class="card-header">
            <h3 class="card-title">{{ book.title }}</h3>
            <span id="delete-book-from-wl">
                <a href="{% url 'delete_from_wl' book.id %}">&times;</a>
            </span>
          </div>
          <div class="card-body">
            <p class="card-description">{{ book.description }}</p>
            <p class="card-author">{{ book.author }}</p>
            <p class="card-genre">{{ book.genre }}</p>
            <p class="card-is_available">{{ book.is_available }}</p>
            <p class="card-price">{{ book.price }}</p>
            <p class="card-created">{{ book.created }}</p>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h2>Your wishlist is empty 😭</h2>
    {% endif %}
  </div>
{% endblock %}