@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap");
@font-face {
    font-family: "Fino";
    src:
        url(../Fino\ Sans\ Regular.otf) format("woff2");
    font-weight: 300;
    font-style: oblique;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s ease-out;
}
body {
    background-color: #eee;
    color: #111;
}
h1, h2 {
    font-family: 'Fino', serif;
}
@keyframes h1_bg {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}

/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */
/* MAIN tag  for logged-in-menu */
main#logged-in-menu {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    background-color: #eee;
}
main#logged-in-menu > div {
    position: relative;
}
main#logged-in-menu > div:first-child {
    border-radius: 0 10px 10px 0;
}
main#logged-in-menu > div:last-child {
    padding: 10px;
}

/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */
/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: #333;
    padding: 5px;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: gray;
    border-radius: 20px;
    border: 3px solid #333;
}
::-webkit-scrollbar-thumb:hover {
    background-color: greenyellow;
}
::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
}

/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */
/*! --------------------------------------------------------------------------------------- */

.logged-out-navbar {
    overflow: hidden;
    background-color: white;
    border: 1px solid gray;
}
.logged-out-navbar a {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    float: right;
}
/* .logged-out-navbar a:hover {
    background-color: #999;
} */

.end {
    background-color: rgb(34, 56, 56);
  }

  .end .ch-end {
    display: grid;
    grid-template-columns: repeat(5, 320px);
  }

  .end div {
    margin: 40px 50px;
  }

  .end b,
  h4,
  p {
    cursor: pointer;

  }

  .end h4 {
    color: snow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .end b {
    text-decoration: none;
    color: lightslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: 50px 5px;
  }

  hr {
    box-shadow: 1px 1px 1px gray, -1px -1px 1px rgb(46, 45, 45);
    width: 1200px;
  }

  .grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: -50px 20px;
  }

  .grids .first {
    color: lightslategray;
  }

  .grids .second {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    color: snow;
  }